<%= form_for @bookmark do |f| %>
  <% if @bookmark.errors.any? %>
    <p>
      <%= pluralize(@bookmark.errors.count, "error") %>
      prohibited this article from being saved:
    </p>
    <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.label "标题" %><br/>
    <%= f.text_field :title, size: 64 %>
  </p>
  <p>
    <%= f.label "链接" %><br/>
    <%= f.text_field :link, size: 64 %>
  </p>
  <p>
    <%= f.label "摘要" %><br/>
    <%= f.text_field :summary, size: 64 %>
  </p>
  <p>
    <%= f.submit class: "btn btn-primary" %>
  </p>
<% end %>